[submodule "external/atom"]
	path = external/atom
	url = https://github.com/fleroviux/atom.git
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
